@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Defaults */
:root {
  --footer-bg: #141729;
}

html {
  font-size: 62.5% !important;
}

* {
  text-decoration: none !important;
  box-sizing: border-box !important;
  font-family: "Inter", sans-serif;
  outline: none !important;
  box-shadow: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}
body {
  width: 100%;
  overflow-X: hidden;
}
.btn {
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #e17302 !important;
  border-color: #e17302 !important;
}
h1, h2 {
  font-size: 3rem !important;
}
h4 {
  font-size: 1.8rem !important;
  font-weight: 700;
}
p,li,a {
  font-size: 1.5rem !important;
}
hr {
  height: 1px;
  background-color: #ccc;
}
/* Navbar */

/* Modules */
.module img {
  width: 100px !important;
  aspect-ratio: 1/1;
}
.card img {
  width: 90%;
  aspect-ratio: 1/1;
}
/* Flexible Solutions */
.fs-list li {
  display: flex ;
  gap: 1.5rem;
  align-items: center;
}
.fs-list li i, .mission i {
  background-color: #B2F0DB !important;
}
/*  */
.work-container {
  grid-template-columns: repeat(3, 1fr);
}
.star {
  color: gold;
  font-size: 1.5rem !important;
}
/* Milestones */
.milestones {
  grid-template-columns: repeat(5, 1fr);
}
/* Footer */
footer {
  background-color: var(--footer-bg);
  color: #ffffff;
}
.contact {
  background-color: #e17302;
}
.btn#contact-btn {
  transition: all 0.8s ease-in-out;
  border: 1px solid #ccc !important;
}
.btn#contact-btn:hover {
  background-color: transparent !important;
  border: 1px solid #ccc !important;
}
.footer-links {
  transition: all 0.3s ease-in-out;
}
.footer-links:hover, .nav-link:hover, .nav-link.active {
  color: #e17302 !important;
}
.subscribe-btn {
  background-color: #e17302;
}
/* vission-mission */
.mission-card {
  background-color: #e21717 !important;
  color: white !important;
}
.vm-row, .our-mission {
  height: 28rem !important;
}
.mission-header {
  background-color: #e21717 !important;

}

/* Media Queries */
@media screen and (min-width: 992px) {
  .nav-cont {
    width: 25% !important;
  }
}
@media screen and (max-width: 992px) {
  .work-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-heading img {
    width: 100px;
  }
}
